<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .signin-signup .forget-password {
      margin-top: 10px;
    }

    .signin-signup .forget-password a:link,
    .signin-signup .forget-password a:visited {
      text-decoration: none;
      color: #33aa3d;
      padding: 1px 0px;
      border-bottom: 1px solid transparent;
      transition: border-bottom 0.2s;
    }

    .signin-signup .forget-password a:hover,
    .signin-signup .forget-password a:active {
      border-bottom: 1px solid #33aa3d;
    }

    #register_here:hover,
    #login_here:hover {
      border-bottom: 1px solid black;
    }

    .forget-password a {
      text-decoration: none;
      color: black;
      cursor: pointer
    }
  </style>
  <title></title>
  <link rel="icon" href="./vendors/images/thekolaya2.png" type="image/x-icon">
  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="./vendors/css/login/style.css" />
</head>

<body>
  <div class="container sign-up-mode">
    <div class="forms-container">
      <div class="signin-signup">

        <form action="login" class="sign-in-form" method="POST" id="loginForm">
          <div class="logo">
            <img src="./vendors/images/login/logo.png" alt="">
          </div>
          <h2 class="title">LOG IN</h2>

          <div class="input-field">
            <i class="fas fa-phone icon"></i>
            <input class="input" type="tel" placeholder="mobile number*" name="contact_number" />
          </div>

          <div class="input-field">
            <i class="fas fa-lock icon"></i>
            <input class="input" type="password" placeholder="password*" name="password" />
          </div>
          <input type="submit" value="Login" name="login" class="btn solid" id="login_btn"/>
          <div style="text-align: center;" class="forget-password">
            <a href="./Login/forgetPassword">Forget Password?</a>
          </div>
          <div style="text-align: center;" class="forget-password">
            <span style="color: blue; cursor:default;">Not a member? </span> <a id="register_here">Register Here</a>
          </div>
        </form>


        <form action="registration" class="sign-up-form" method="POST" id="registration_form">
          <div class="logo">
            <img src="./vendors/images/login/logo.png" alt="">
          </div>
          <h2 class="title">REGISTRATION</h2>
          <div class="input-field">
            <i class="fas fa-user icon"></i>
            <input class="input" type="text" placeholder="name*" name="name" />

          </div>

          <div class="input-field">
            <i class="fas fa-phone icon"></i>
            <input class="input" type="tel" placeholder="mobile number*" name="contact_number" />
          </div>

          <div class="input-field">
            <i class="fas fa-chevron-circle-right icon"></i>
            <select name="user_type" id="landowner_type">
              <option value="accountant">Accountant</option>
              <option value="agent">Agent</option>
              <option value="direct_landowner">Direct Land Owner</option>
              <option value="indirect_landowner">Indirect Land Owner</option>
              <option value="manager">Manager</option>
              <option value="product_manager">Product Manager</option>
              <option value="supervisor">Supervisor</option>
            </select>
          </div>

          <div class="input-field">
            <i class="far fa-id-card icon"></i>
            <input class="input" type="text" placeholder="user id*" name="user_id" />
          </div>

          <div class="input-field">
            <i class="fas fa-envelope icon"></i>
            <input class="input" type="text" placeholder="address*" name="address" />
          </div>

          <div class="input-field">
            <i class="fas fa-lock icon"></i>
            <input class="input" type="password" placeholder="password*" name="password" />
          </div>

          <div class="input-field">
            <i class="fas fa-check-circle icon"></i>
            <input class="input" type="password" placeholder="confirm password*" name="confirm_password" />
          </div>

          <input type="submit" class="btn" value="Register" name="register" id="registrationBtn" />

          <div style="text-align: center;" class="forget-password">
            <span style="color: blue; cursor: default;">One OF Us? </span><a style="color: black;" id="login_here">Login Here</a>
          </div>
        </form>

      </div>
    </div>

    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <h3>NEW TO THEKOLAYA?</h3>
          <button class="btn transparent" id="sign-up-btn">REGISTER</button>
        </div>
        <img src="./vendors/images/login/login.svg" alt="" class="image">
      </div>
      <div class="panel right-panel">
        <div class="content">
          <h3>ONE OF THEKOLAYA?</h3>
          <button class="btn transparent" id="sign-in-btn">LOG IN</button>
        </div>
        <img src="./vendors/images/login/register.svg" alt="" class="image">
      </div>
    </div>
  </div>

  <script src="./vendors/js/login/app.js"></script>
<%--'js/login/loginJs.php'
  'js/registration/registrationJS.php' --%>
  
</body>

</html>