<div class="logo-details">
	<div class="logo_name"><img src="./vendors/images/thekolaya-white.png" alt=""></div>
	<i class="fas fa-bars" id="btn"></i>
</div>
<ul class="nav-list">
	<li>
		<a href="/thekolaya/supervisor">
			<i class="fas fa-th-large"></i>
			<span class="links_name">Dashboard</span>
		</a>
		<span class="tooltip">Dashboard</span>
	</li>

	<li>
		<a href="updateTeaMeasure">
			<i class="fas fa-weight"></i>
			<span class="links_name">Update Net-Weight</span>
		</a>
		<span class="tooltip">Update Net-Weight</span>
	</li>
	<li>
		<a href="/Supervisor/manageRequests">
			<i class="fab fa-acquisitions-incorporated"></i>
			<span class="links_name">Requests</span>
		</a>
		<span class="tooltip">Requests</span>
	</li>
	<li>
		<a href="/Supervisor/manageFertilizer">
			<i class="fas fa-tree"></i>
			<span class="links_name">Fertilizer</span>
		</a>
		<span class="tooltip">Fertilizer</span>
	</li>
	<li>
		<a href="/Supervisor/manageFirewood">
			<i class="fas fa-fire"></i>
			<span class="links_name">Firewood</span>
		</a>
		<span class="tooltip">Firewood</span>
	</li>
</ul>

<div class="social_media_icon">
	<div class="social_media">
		<a href="#"><i class="fab fa-facebook-f"></i></a>
		<a href="#"><i class="fab fa-twitter"></i></a>
		<a href="#"><i class="fab fa-instagram"></i></a>
	</div>
</div>